// _reboot.scss

:root {
    font-size: 16px;
    font-family: "Microsoft Yahei UI", "Verdana", "Simsun", "Segoe UI", "-apple-system", "BlinkMacSystemFont", "Roboto", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    vertical-align: middle;
    color: var(--gray200);
}

*, ::before, ::after {
    --white: rgb( 255, 255, 255 );
    --gray10: rgb( 250, 249, 248 );
    --gray20: rgb( 243, 242, 241 );
    --gray30: rgb( 237, 235, 233 );
    --gray40: rgb( 225, 223, 221 );
    --gray50: rgb( 210, 208, 206 );
    --gray60: rgb( 200, 198, 196 );
    --gray70: rgb( 190, 187, 184 );
    --gray80: rgb( 179, 176, 173 );
    --gray90: rgb( 161, 159, 157 );
    --gray100: rgb( 151, 149, 147 );
    --gray110: rgb( 138, 136, 134 );
    --gray120: rgb( 121, 119, 117 );
    --gray130: rgb( 96, 94, 92 );
    --gray140: rgb( 72, 70, 68 );
    --gray150: rgb( 59, 58, 57 );
    --gray160: rgb( 50, 49, 48 );
    --gray170: rgb( 41, 40, 39 );
    --gray180: rgb( 37, 36, 35 );
    --gray190: rgb( 32, 31, 30 );
    --gray200: rgb( 27, 26, 25 );
    --gray210: rgb( 22, 21, 20 );
    --gray220: rgb( 17, 16, 15 );
    --black: rgb( 0, 0, 0 );
    
    --red10: rgb( 209, 52, 56 );
    --red20: rgb( 164, 38, 42 );

    --orange10: rgb( 255, 170, 68 );

    --cyangreen10: rgb( 0, 173, 86 );

    --azure: rgb( 0, 127, 255 );
    --cyanblue10: rgb( 0, 120, 212 );
    --cyanblue20: rgb( 0, 78, 140 );
    
    --in-back: cubic-bezier( 0.6, -0.28, 0.74, 0.05 );

    --out-back: cubic-bezier( 0.18, 0.89, 0.32, 1.28 );

    --depth-4: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
    --depth-8: 0 3.2px 7.2px 0 rgb(0 0 0 / 13%), 0 0.6px 1.8px 0 rgb(0 0 0 / 11%);
    --depth-16: 0 6.4px 14.4px 0 rgb(0 0 0 / 13%), 0 1.2px 3.6px 0 rgb(0 0 0 / 11%);
    --depth-64: 0 25.6px 57.6px 0 rgb(0 0 0 / 22%), 0 4.8px 14.4px 0 rgb(0 0 0 / 18%);
    --depth-4-filter: drop-shadow(0 0.4px 0.9px rgb(0 0 0 / 13%)) drop-shadow(0 0.075px 0.225px rgb(0 0 0 / 11%));
    --depth-8-filter: drop-shadow(0 0.8px 1.8px rgb(0 0 0 / 13%)) drop-shadow(0 0.15px 0.45px rgb(0 0 0 / 11%));
    --depth-16-filter: drop-shadow(0 1.6px 3.6px rgb(0 0 0 / 13%)) drop-shadow(0 0.3px 0.9px rgb(0 0 0 / 11%));
    --depth-64-filter: drop-shadow(0 6.4px 14.4px rgb(0 0 0 / 13%)) drop-shadow(0 1.2px 3.6px rgb(0 0 0 / 11%));
    
    box-sizing: border-box;
    vertical-align: middle;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;

    &-thumb {
        width: 80px;
        height: 80px;
        background-clip: content-box;
        background-color: var(--gray60);
        border: 3px solid transparent;
        border-radius: 6px;

        &:hover {
            background-color: var(--gray80);
        }
    }
}

a {
    &:any-link {
        color: var(--gray190);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &:active {
            color: var(--azure);
            text-decoration: underline;
        }
    }
}

body {
    margin: 0;
}

button {
    display: inline-block;
    
    min-width: 80px;
    height: 32px;
    padding: 0px 16px;
    border: 1px solid var(--gray110);
    border-radius: 2px;
    background-color: var(--white);
    
    position: relative;
    
    color: var(--gray160);
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    
    cursor: pointer;
    outline: transparent;
    user-select: none;

    &:hover {
        background-color: var(--gray30);
    }

    &:active {
        background-color: var(--gray40);
    }

    &.active {
        cursor: default;
    }
}

h1, h2, h3, h4, h5, h6 {
    padding: .25rem .5rem;
    margin-bottom: .5rem;
    font-weight: 500;
}

h1 {
    padding: .75rem .5rem;
    font-size: calc(1.325rem + .9vw);
    border-bottom: 1px solid var(--gray40);

    @media ( min-width: 1296px ) {
        font-size: 2rem;
    }
}

h2 {
    font-size: calc(1.3rem + .6vw);
    
    @media ( min-width: 1296px ) {
        font-size: 1.75rem;
    }
}

h3 {
    font-size: calc(1.275rem + .3vw);
    
    @media ( min-width: 1296px ) {
        font-size: 1.5rem;
    }
}
    
small {
    font-size: .75em;
    color: var(--gray180);
}

[hidden] {
    display: none !important;
}