#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: .5rem 0;
    background-color: rgba($color: #fff, $alpha: .5);
    box-shadow: var(--depth-4);

    .navbar-container {
        display: grid;
        grid-template: auto / auto 1fr;
        justify-content: space-between;
        align-items: center;
        gap: 0 .5rem;

        width: var(--width-container-md);
        min-height: 2rem;
        padding: 0 1rem;
        flex-wrap: wrap;

        @media ( min-width: 768px ) {
            min-height: 3rem;
            gap: 0 2rem;
        }
    }   

    .navbar-brand {
        display: inline-flex;
        align-items: center;
        gap: .5rem;

        color: var(--gray160);
        font-size: var(--font-h4);
        text-decoration: none;
        white-space: nowrap;

        span {
            display: none;

            @media ( min-width: 768px ) {
                display: inline;
            }
        }
    }

    .navbar-toggler {
        min-width: unset;
        width: 3rem;
        height: 3rem;
        padding: 0;
        border: 0;

        position: relative;

        @media ( min-width: 768px ) {
            display: none;
        }

        &::before, &::after {
            content: "";
            display: block;

            width: 1.5rem;
            height: .125rem;
            border-radius: .125rem;
            background: var(--gray120);

            position: absolute;
            left: 50%;
            transform: translate(-50%, -50%);
            transition: .25s var(--out-back);
        }

        &::before {
            top: 40%;
        }
        
        &::after {
            top: 60%;
        }

        &.active {
            &::before, &::after {
                top: 50%;
            }

            &::before {
                transform: translate(-50%, -50%) rotate(45deg);
            }
            
            &::after {
                transform: translate(-50%, -50%) rotate(135deg);
            }
        }
    }

    .navbar-collapse {        
        overflow: hidden;
        
        // transition-duration: .375s;
        // transition-timing-function: var(--out-back);
        &.collapsed {
            transition-timing-function: var(--in-back);
        }
    }

    .navbar-wrapper {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .navbar-nav {
        display: flex;
        gap: .5rem;

        margin: 0;
        padding: 0;
        
        list-style: none;

        .nav-item {
            display: inline-flex;
            align-items: center;
            min-height: 2rem;
        }

        .nav-link {
            text-decoration: none;
            text-align: center;

            @media ( min-width: 768px ) {
                font-size: 16px;
            }

            span {
                --dark: var(--gray180);
                --color: var(--azure);
                display: inline-flex;

                align-items: center;
                gap: .5rem;

                padding: .25rem;
                background-image: linear-gradient(315deg, var(--dark), var(--dark) 50%, var(--color) 50%, var(--color));
                background-size: 300%;
                background-position: 100% 100%;
                color: transparent;
                
                position: relative;
                
                -webkit-background-clip: text;
                background-clip: text;
                transition-duration: .25s;
                transition-property: background-position;

                &.icon-link {
                    gap: 0;
                    font-size: 0;

                    .icon {
                        font-size: 1rem;
                    }

                    @media ( min-width: 768px ) {
                        gap: .5rem;
                        font-size: unset;
    
                        .icon {
                            font-size: inherit;
                        }
                    }
                }
            }

            span::after {
                content: "";
                display: block;
                width: 0%;
                height: 1px;
                background-color: var(--color);
                position: absolute;
                left: 0;
                bottom: 0;
                transition: .25s;
            }

            &:hover {
                span {
                    background-position: 0;

                    &::after {
                        width: 100%;
                    }
                }
            }

            &:active {
                span {
                    --color: var(--cyanblue10);
                    
                    &::after {
                        width: 100%;
                    }
                }
            }
        }
    }

    .download {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: .5rem;

        height: 2.5rem;
        background: var(--azure);
        border: 0;
        
        color: var(--white);
        font-size: 1rem;

        &:hover {
            background: var(--cyanblue10);
        }

        &:active {
            color: var(--gray20);
            background: var(--cyanblue20);
        }
    }
}